In [82]:
import pandas as pd

In [83]:
path_eyes='output/eyes'
eyes_classification = pd.read_csv(path_eyes+'/eyes_classification.csv', index_col=0)

In [88]:
eyes_classification

        name     num        side      open
0   multiple      10  mirror.jpg  0.999982
1    friends       2   right.jpg  1.000000
2   multiple       1   right.jpg  0.000003
3   multiple      11  mirror.jpg  0.999945
4   3V9A6725       0  mirror.jpg  0.045238
..       ...     ...         ...       ...
65  multiple       7   right.jpg  0.999991
66   friends       4   right.jpg  0.137065
67   friends       4  mirror.jpg  0.956492
68   friends       3   right.jpg  0.999955
69      open  closed           6  0.995459

[70 rows x 4 columns]

In [114]:
def eye_classifier(eye_open, threshold=0.0015):
    if eye_open > 1 - threshold:      
        return 'open'
    elif eye_open < threshold:
        return 'closed'
    else:
        return 'unknown'

In [115]:
eyes_classification['classification'] = eyes_classification.open.apply(lambda x: eye_classifier(x))

In [116]:
eyes_classification

        name     num        side      open classification
0   multiple      10  mirror.jpg  0.999982           open
1    friends       2   right.jpg  1.000000           open
2   multiple       1   right.jpg  0.000003         closed
3   multiple      11  mirror.jpg  0.999945           open
4   3V9A6725       0  mirror.jpg  0.045238        unknown
..       ...     ...         ...       ...            ...
65  multiple       7   right.jpg  0.999991           open
66   friends       4   right.jpg  0.137065        unknown
67   friends       4  mirror.jpg  0.956492        unknown
68   friends       3   right.jpg  0.999955           open
69      open  closed           6  0.995459        unknown

[70 rows x 5 columns]

In [117]:
eyes_classification[eyes_classification.classification=='unknown'].shape[0]

25

In [118]:
picture_names = eyes_classification.name.unique()
picture_names

array(['multiple', 'friends', '3V9A6725', 'open', '3V9A5334'],
      dtype=object)

In [119]:
def face_classifier(eye_values):
    eye1 = eye_values[0]
    eye2 = eye_values[1]
    if eye1 == 'open' and eye2 == 'open':
        return 'open'
    if eye1 == 'closed' and eye2 == 'closed':
        return 'closed'
    else:
        return 'unknown'

In [120]:
df = pd.DataFrame()
picture_names = eyes_classification.name.unique()
for picture_name in picture_names:
    df_picture = eyes_classification[eyes_classification.name == picture_name]
    faces = df_picture.num.unique()
    for face_num in faces:
        df_faces = df_picture[df_picture.num == face_num]
        classification = face_classifier(df_faces.classification.values)
        df = pd.concat([df, pd.DataFrame({'name':picture_name, 'face':face_num, 'classification': classification},[0])])

In [121]:
df.classification.value_counts()

open       12
unknown    10
closed      6
Name: classification, dtype: int64

In [136]:
df.reset_index(inplace=True, drop=True)
df

        name    face classification
0   multiple      10           open
1   multiple       1         closed
2   multiple      11           open
3   multiple       2           open
4   multiple      16        unknown
5   multiple       4         closed
6   multiple      15           open
7   multiple       5        unknown
8   multiple       6         closed
9   multiple      13         closed
10  multiple      14        unknown
11  multiple       0           open
12  multiple       8           open
13  multiple      17         closed
14  multiple       3           open
15  multiple      12           open
16  multiple       9         closed
17  multiple       7           open
18   friends       2        unknown
19   friends       5           open
20   friends       1           open
21   friends       0        unknown
22   friends       3           open
23   friends       4        unknown
24  3V9A6725       0        unknown
25  3V9A6725       1        unknown
26      open  closed        unknown
27  3V9A5334       0        unknown

In [140]:
df.pivot(index='name', columns='classification')

ValueError: Index contains duplicate entries, cannot reshape